.login-bg{
    /*background:  url('../img/login_bg.png') repeat center;*/
    background:   #DDD url('../img/4.png') no-repeat left top;
}
.login-panel-body{
    background:  url('../img/login_panel_bg_sm.jpg') no-repeat center;
    width: 400px;
    height: 249px;
    margin: auto;
    margin-top: 70px;
    box-shadow: 5px 5px 30px #555; 
    border-radius: 10px;
}
.trnsp-input1{
    margin-left: 14px;
    margin-top: 87px;
    position: relative;
    width: 248px;
}
.trnsp-input1 input, .trnsp-input2 input{
    height: 34px;
    border-radius: 5px;
    background: transparent!important;
    color: #FFF;
    border: none;
}
.trnsp-input1 input:focus, .trnsp-input2 input:focus{
    border: 1px solid #FFF;
}
.trnsp-input2{    
    margin-left: 14px;
    margin-top: 31px;
    position: relative;
    width: 248px;
}
.login-checkbox{
    margin-left: 14px;
    margin-top: 15px;
    position: relative;
    width: 245px;
}
.login-checkbox label{
    color: #FFF;
}
.forgot{
    margin-left: 284px;
    margin-top: -83px;
    position: relative;    
}
.register{
    margin-left: 284px;
    margin-top: 18px;
    position: relative;    
}
.help{
    margin-left: 284px;
    margin-top: 16px;
    position: relative;
}
.forgot a, .register a, .help a{
    color: #FFF;
    font-size: 10px;
    outline: 0;
}
.forgot a:hover, .register a:hover, .help a:hover{
    color: yellow;
    outline: 0;
}
.forgot a:focus, .register a:focus, .help a:focus{
    color: yellow;
    outline: 0;
}
.pos{
    position: fixed;
    top: 280px;
    left: 330px;

}
.pos1{
    position: fixed;
    top: 405px;

}
.label-danger a, .label-warning a, .label-info a, .label-success a{
    color: #FFF;
    outline: 0;
}
.label-danger a:hover, .label-warning a:hover, .label-info a:hover, .label-success a:hover{
    color: #FFF;
    text-decoration: underline;
    outline: 0;
}
.label-danger a:focus, .label-warning a:focus, .label-info a:focus, .label-success a:focus{
    color: #FFF;
    outline: 0;
}
.shadow {
    box-shadow: 5px 5px 30px #AAA;
}
.pagination > .info{
    padding-left: 10px;
    font-size: 12px;
    color: #9fadbb;
}
dl {
	line-height: 2em;
	margin: 0em 0em;
	width: 100%;
}
dl dd:nth-child(4n+2),
dl dt:nth-child(4n+1) {
	background: #f4f4f4;
}

dt {
	font-weight: bold;
	padding-left: 4px;
        padding: 2px;
	vertical-align: top;
	width: 10em;
}
dd {
	margin-left: 10em;
        padding: 2px;
        color: #285e8e;
	margin-top: -24px;
	vertical-align: top;
}
.filters{
    list-style: none;
    padding: 0;
    margin: 0;
}
.filters li{
    display: inline-block;    
}
.srch-btn button{
    margin-top: -5px;
}
.lg-input{
    width: 200px;
}
.action-link li a{outline:0;}
.action-link li a:hover {
    text-decoration: none;
    outline: 0;
    color: #5f6468;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
/* Form errors */

form .error-message {	        
    background-color: #ffff99;
	margin-top: 3px;
	padding-left: 4px;
	padding-right: 0;
        color: #cd0a0a;
        font-size: x-small; 
}
.title-td{
    background: lightgoldenrodyellow!important;
    font-weight: bold;
}

/*-- Print Section --*/
.print-hidden{
    display: none;
}
